@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using NovelReader.UI.Common.Components
@attribute [Authorize]

<nav class="flex items-center justify-between p-4 ml-3 mr-3">
	<div class="flex items-center">
		<img src="https://placehold.co/40x40" 
			@onclick="@(() => m_NavigationManager.NavigateTo("/"))"
			alt="Logo" class="mr-4" crossorigin="anonymous">
		<ExpandableMenu>
			<ExpandableMenuTrigger>
				<span class="hidden sm:block text-grey-700 dark:text-white-300 mr-6">Tags</span>
			</ExpandableMenuTrigger>
			<ExpandableMenuContent>
				<Row Class="m-3 gap-2">
					<Column>
						<Button Title="Action" 
								CommonClass="m-1 p-1 rounded-md w-full"
								NonHoverClass="bg-white-300"
								HoverClass="bg-slate-600 text-white"
								To="/action" />
						<Button Title="Sci-fi" 
								CommonClass="m-1 p-1 rounded-md w-full"
								NonHoverClass="bg-white-300"
								HoverClass="bg-slate-600 text-white"
								To="/sci-fi" />
					</Column>
					<Column>
						<Button Title="Adventure" 
								CommonClass="m-1 p-1 rounded-md w-full"
								NonHoverClass="bg-white-300"
								HoverClass="bg-slate-600 text-white"
								To="/adventure" />
						<Button Title="Love" 
								CommonClass="m-1 p-1 rounded-md w-full"
								NonHoverClass="bg-white-300"
								HoverClass="bg-slate-600 text-white"
								To="/love" />
					</Column>
				</Row>
			</ExpandableMenuContent>
		</ExpandableMenu>
		<ExpandableMenu>
			<ExpandableMenuTrigger>
				<span class="hidden sm:block text-grey-700 dark:text-white-300 mr-6">
					Ranking
				</span>
			</ExpandableMenuTrigger>
			<ExpandableMenuContent>
				<div class="m-1">
					<Button Title="Most Favourite" 
							CommonClass="m-1 p-1 w-full rounded-md"
							HoverClass="bg-slate-600 text-white"
							To="most-favourite" />
					<Button Title="Most Read" 
							CommonClass="m-1 p-1 w-full rounded-md"
							HoverClass="bg-slate-600 text-white"
							To="most-read" />
				</div>
			</ExpandableMenuContent>
		</ExpandableMenu>
	</div>
	<div class="flex-grow max-w-xl mx-auto">
		<div class="relative">
			<input type="search" placeholder="Search" class="w-full bg-white dark:bg-zinc-800 rounded-full pl-4 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-400">
			<button class="absolute right-2 top-1/2 transform -translate-y-1/2 text-yellow-500">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10l4 4m0 0l4-4m-4 4V3"></path>
				</svg>
			</button>
		</div>
	</div>
	<div class="flex items-center">
		<button class="text-blue-500 dark:text-blue-300 mr-6 relative">
			<span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs rounded-full px-1.5 py-0.5">NEW</span>
			Upload Novel
		</button>
		<button class="text-yellow-500 dark:text-yellow-300 mr-6 relative">
			<span class="absolute -top-2 -right-2 bg-yellow-600 text-white text-xs rounded-full px-2 py-0.5">24</span>
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.5-1.5m0 0L19 14m-3.5 1.5V6"></path>
			</svg>
		</button>
		<AuthorizeView>
			<Authorized>
				<button class="text-zinc-700 dark:text-zinc-300 flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
					</svg>
					Thảo Nguyễn Thế
				</button>
			</Authorized>
			<NotAuthorized>
				<button class="text-grey-700 dark:text-white-300" 
						@onclick="@(() => m_NavigationManager.NavigateTo("/login"))">
					Login
				</button>
				<button class="text-grey-700 dark:text-white-300 ml-3"
						@onclick="@(() => m_NavigationManager.NavigateTo("/register"))">
					Register
				</button>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</nav>

@code {

}
